In [1]:
import pandas as pd
import yellowbrick as yb
import matplotlib.pyplot as plt
import csv
import os
from yellowbrick.features.rankd import Rank2D
from yellowbrick.features.radviz import RadViz
from yellowbrick.features.pcoords import ParallelCoordinates
from sklearn.ensemble import RandomForestClassifier
from yellowbrick.model_selection import FeatureImportances
import numpy as np

In [2]:
gainesville_total = os.path.join("Dashboard","TransformGainesville_CrimesALL.csv")
data = pd.read_csv(gainesville_total)
data.head()

,Unnamed: 0,ID,CFS,CFS_Type,Classification,offenseDate,offenseHour,offenseDOW,reportDate,reportHour,...,longitude,location,date,month,day,year,fullDate,DOW,time,moonPhase
0,0,221009267,Domestic Aggravated Battery,Battery,Person,7/4/2021,21,Sunday,7/4/2021 22:37,22,...,-82.326069,POINT (-82.326069 29.688534000000004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,221009608,Domestic Aggravated Battery,Battery,Person,7/11/2021,22,Sunday,7/11/2021 22:55,22,...,-82.387148,POINT (-82.387148 29.632687000000004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,221009391,Domestic Aggravated Battery,Battery,Person,7/7/2021,19,Wednesday,7/7/2021 19:13,19,...,-82.299390,POINT (-82.29939 29.640249),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,221009308,Domestic Aggravated Battery,Battery,Person,7/6/2021,7,Tuesday,7/6/2021 7:27,7,...,-82.398242,POINT (-82.398242 29.641625),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,221011388,Domestic Aggravated Battery,Battery,Person,8/16/2021,17,Monday,8/16/2021 17:26,17,...,-82.326069,POINT (-82.326069 29.688534000000004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.columns

Index(['Unnamed: 0', 'ID', 'CFS', 'CFS_Type', 'Classification', 'offenseDate',
       'offenseHour', 'offenseDOW', 'reportDate', 'reportHour', 'reportDOW',
       'city', 'state', 'address', 'latitude', 'longitude', 'location',
       'date ', 'month', 'day', 'year', 'fullDate', 'DOW', 'time ',
       'moonPhase'],
      dtype='object')

In [4]:
used_columns= ['CFS_Type', 'Classification', 'offenseDate', 'location', 'moonPhase']

In [5]:
convert_cols= data[used_columns]
convert_cols

,CFS_Type,Classification,offenseDate,location,moonPhase
0,Battery,Person,7/4/2021,POINT (-82.326069 29.688534000000004),NaN
1,Battery,Person,7/11/2021,POINT (-82.387148 29.632687000000004),NaN
2,Battery,Person,7/7/2021,POINT (-82.29939 29.640249),NaN
3,Battery,Person,7/6/2021,POINT (-82.398242 29.641625),NaN
4,Battery,Person,8/16/2021,POINT (-82.326069 29.688534000000004),NaN
...,...,...,...,...,...
44868,Battery,Person,3/14/2019,POINT (-82.411597 29.659699),First Quarter
44869,Other,Property,8/15/2018,NaN,NaN
44870,Theft,Property,10/23/2018,POINT (-82.339167 29.677320999999996),NaN
44871,Gov Reg Vio,Government,9/18/2018,POINT (-82.377955 29.617822000000004),NaN
44872,Theft,Property,7/1/2018,POINT (-82.356193 29.712461),NaN

In [6]:
#Covnert Strings to FLoats
new_columns_df=pd.get_dummies(convert_cols)
new_columns_df.head(20)

,CFS_Type_Alcohol,CFS_Type_Assault,CFS_Type_Battery,CFS_Type_Death Inv/Homicide,CFS_Type_Drugs,CFS_Type_Fraud,CFS_Type_Gov Reg Vio,CFS_Type_Other,CFS_Type_Quality of Life,CFS_Type_Suicide,...,location_POINT (-82.602325 29.819596999999998),location_POINT (-82.607726 29.635582),location_POINT (-82.609311 29.648202),location_POINT (-82.618371 29.78556),location_POINT (-82.620716 29.6457),location_POINT (-82.63308 29.822501999999997),moonPhase_First Quarter,moonPhase_Full Moon,moonPhase_New Moon,moonPhase_Third Quarter
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
data = data.drop(['CFS_Type', "moonPhase"], axis = 1)

In [8]:
new_df= pd.merge(data,new_columns_df, left_index=True, right_index = True )
new_df

,Unnamed: 0,ID,CFS,Classification,offenseDate,offenseHour,offenseDOW,reportDate,reportHour,reportDOW,...,location_POINT (-82.602325 29.819596999999998),location_POINT (-82.607726 29.635582),location_POINT (-82.609311 29.648202),location_POINT (-82.618371 29.78556),location_POINT (-82.620716 29.6457),location_POINT (-82.63308 29.822501999999997),moonPhase_First Quarter,moonPhase_Full Moon,moonPhase_New Moon,moonPhase_Third Quarter
0,0,221009267,Domestic Aggravated Battery,Person,7/4/2021,21,Sunday,7/4/2021 22:37,22,Sunday,...,0,0,0,0,0,0,0,0,0,0
1,1,221009608,Domestic Aggravated Battery,Person,7/11/2021,22,Sunday,7/11/2021 22:55,22,Sunday,...,0,0,0,0,0,0,0,0,0,0
2,2,221009391,Domestic Aggravated Battery,Person,7/7/2021,19,Wednesday,7/7/2021 19:13,19,Wednesday,...,0,0,0,0,0,0,0,0,0,0
3,3,221009308,Domestic Aggravated Battery,Person,7/6/2021,7,Tuesday,7/6/2021 7:27,7,Tuesday,...,0,0,0,0,0,0,0,0,0,0
4,4,221011388,Domestic Aggravated Battery,Person,8/16/2021,17,Monday,8/16/2021 17:26,17,Monday,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44868,44868,219004357,Battery (security Guard/officer Aggravated),Person,3/14/2019,22,Thursday,3/15/2019 0:50,0,Friday,...,0,0,0,0,0,0,1,0,0,0
44869,44869,218014815,Criminal Mischief,Property,8/15/2018,12,Wednesday,8/15/2018 13:33,13,Wednesday,...,0,0,0,0,0,0,0,0,0,0
44870,44870,218019557,Theft Grand - Purse Snatching,Property,10/23/2018,14,Tuesday,10/23/2018 14:53,14,Tuesday,...,0,0,0,0,0,0,0,0,0,0
44871,44871,218017216,Falsely Personating Officer,Government,9/18/2018,21,Tuesday,9/18/2018 22:55,22,Tuesday,...,0,0,0,0,0,0,0,0,0,0
44872,44872,218011979,Gas Drive Off,Property,7/1/2018,19,Sunday,7/1/2018 20:03,20,Sunday,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# Use get_dummies() to create variables for text features.
#X = pd.get_dummies(new_df["Classification", "offenseDate","CFS","CFS_Type"])
#print(X.shape)

KeyError: ('Classification', 'offenseDate', 'CFS', 'CFS_Type')

In [ ]:
#y = pd.get_dummies(data,columns=used_columns)
#print(y.shape)

In [ ]:
model = RandomForestClassifier(n_estimators=128, random_state=70)
viz = FeatureImportances(model)
viz.fit(X, y)
viz.show()