In [5]:
import pandas as pd
import yellowbrick as yb
import matplotlib.pyplot as plt
import csv
import os
from yellowbrick.features.rankd import Rank2D
from yellowbrick.features.radviz import RadViz
from yellowbrick.features.pcoords import ParallelCoordinates
from sklearn.ensemble import RandomForestClassifier
from yellowbrick.model_selection import FeatureImportances
import pandas as pd

In [6]:
gainesville_total = os.path.join("Dashboard","TransformGainesville_CrimesALL.csv")
data = pd.read_csv(gainesville_total)
data.head()

,Unnamed: 0,ID,CFS,CFS_Type,Classification,offenseDate,offenseHour,offenseDOW,reportDate,reportHour,...,longitude,location,date,month,day,year,fullDate,DOW,time,moonPhase
0,0,221009267,Domestic Aggravated Battery,Battery,Person,7/4/2021,21,Sunday,7/4/2021 22:37,22,...,-82.326069,POINT (-82.326069 29.688534000000004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,221009608,Domestic Aggravated Battery,Battery,Person,7/11/2021,22,Sunday,7/11/2021 22:55,22,...,-82.387148,POINT (-82.387148 29.632687000000004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,221009391,Domestic Aggravated Battery,Battery,Person,7/7/2021,19,Wednesday,7/7/2021 19:13,19,...,-82.299390,POINT (-82.29939 29.640249),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,221009308,Domestic Aggravated Battery,Battery,Person,7/6/2021,7,Tuesday,7/6/2021 7:27,7,...,-82.398242,POINT (-82.398242 29.641625),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,221011388,Domestic Aggravated Battery,Battery,Person,8/16/2021,17,Monday,8/16/2021 17:26,17,...,-82.326069,POINT (-82.326069 29.688534000000004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data.columns

Index(['Unnamed: 0', 'ID', 'CFS', 'CFS_Type', 'Classification', 'offenseDate',
       'offenseHour', 'offenseDOW', 'reportDate', 'reportHour', 'reportDOW',
       'city', 'state', 'address', 'latitude', 'longitude', 'location',
       'date ', 'month', 'day', 'year', 'fullDate', 'DOW', 'time ',
       'moonPhase'],
      dtype='object')

In [8]:
used_columns= ['ID', 'CFS', 'CFS_Type', 'Classification', 'offenseDate', 'offenseHour',
       'offenseDOW', 'reportDate', 'reportHour', 'reportDOW', 'city', 'state',
       'address', 'latitude', 'longitude', 'location', 'date ', 'month', 'day',
       'year', 'fullDate', 'DOW', 'time ', 'moonPhase']

In [ ]:
#data.df=data.drop[unused_columns,axis=1]

In [14]:
#Covnert Strings to FLoats

# Use get_dummies() to create variables for text features.
X = pd.get_dummies(data, columns=["Classification", "offenseDate","CFS","CFS_Type"])
print(X.shape)


#Y = pd.get_dummies(columns=[used_columns])

(44873, 1682)

In [9]:
# Specify the features of interest
features = ['ID', 'CFS', 'CFS_Type', 'Classification', 'offenseDate', 'offenseHour',
       'offenseDOW', 'reportDate', 'reportHour', 'reportDOW', 'city', 'state',
       'address', 'latitude', 'longitude', 'location', 'date ', 'month', 'day',
       'year', 'fullDate', 'DOW', 'time ', 'moonPhase'
]

In [ ]:
# Extract the numpy arrays from the data frame
X = data[features].values
y = data.values

In [ ]:
# Load the classification data set
#X, y =

In [ ]:
viz = FeatureImportances(model)
viz.fit(X, y)
viz.show()