In [18]:
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd

In [19]:
postgres_str = "postgresql://postgres:Ossinc09!@localhost:5432/GainesvilleCrime";

In [20]:
# Create the connection
cnx = create_engine(postgres_str)

In [21]:
pd.read_sql_query('''SELECT * FROM callsforservice LIMIT 5;''', cnx)

,id,cfs,offensedate,offensehour,offensedow,cfsaddress,cfslatitude,cfslongitude
0,221009134,Assist Other Agency,2021-07-02,1,Friday,300 BLK SW WILLISTON RD,29.620543,-82.328759
1,221009267,Domestic Aggravated Battery,2021-07-04,21,Sunday,100 BLK NW 39TH AVE,29.688534,-82.326069
2,221009201,Assist Other Agency,2021-07-03,12,Saturday,200 BLK SE 16TH AVE,29.634039,-82.326408
3,121009277,Assist Citizen,2021-07-05,3,Monday,500 BLK NW 8TH AVE,29.659423,-82.329994
4,221009177,Warrant Arrest,2021-07-02,18,Friday,1500 BLK N MAIN ST,29.665770,-82.324505